@use '../../color';
@use '__button/dropdown__button.scss';
// @use '../../fonts/iconfont/iconfont.scss';

$height: 44px;

.dropdown {
  border: 1px solid color.$dark_25;
  border-radius: 4px;
  // display: flex;
  height: 100%;
  // height: $height;
  // justify-content: space-between;
  // padding: 0 15px;
  position: relative;
  width: 100%;
}
.dropdown_opened {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.dropdown__selection {
  color: color.$dark_75;
  font-family: "Montserrat";
  cursor: pointer;
  align-items: center;
  height: 100%;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  padding: 0 15px;

  // flex: 1;
  position: relative;
}
.dropdown__selection_arrow {
  color: color.$dark_50;
  padding-top: 1px;
  font-size: 13px;
}

.dropdown__menu {
  background-color: #ffffff;
  border: 1px solid color.$dark_25;
  // border-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  cursor: default;
  display: block;
  left: 0;
  margin: -2px -1px 0;
  position: absolute;
  right: 0;
  top: $height;
  z-index: 99999;
}
.dropdown__menu_hidden {
  display: none;
}
.dropdown__menu-option {
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: 37px;
  padding: 4px 6px 0 13px;
}
.dropdown__menu-option-controls {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 92px;
}
.dropdown__menu-controls {
  align-items: center;
  // height: 45px;
  height: $height + 1px;
  padding: 9px 6px 0px 13px;
  // padding-top: 18px;
  color: color.$primary;
  display: flex;
  justify-content: space-between;
  // margin-bottom: 5px;
}
.dropdown__button-clear {
  color: inherit;
  display: inline;
  background-color: #ffffff;
}
.dropdown__button-clear_hidden {
  display: none;
}
.dropdown__button-apply {
  color: inherit;
  background-color: #ffffff;
}
