// Rate

.rate-button {
  width: 118px;
  display: flex;
  font-size: 22px;
  flex-direction: row;
  justify-content: space-between;
  background: -webkit-gradient(linear, left top, left bottom, from(#BC9CFF), to(#8BA4F9));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
