extends ../layout/ui-kit-gray

block title
  |Cards

block content
  h1 Title
  hr
  p.
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minus ducimus aut natus quod? Possimus repellat nesciunt consequatur eligendi iste soluta molestias harum, nulla nobis deleniti quibusdam, quisquam exercitationem aut odit.
    