@use "../layout/ui-kit.scss";
@use "../color.scss";

.wrapper {
  /* text-align: center; */
}
.main__box {
  max-width: 1132px;
  /* max-width: 800px; */
  /* margin: 145px 158px 0px 149.74px; */
  margin-top: 145px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: left;
}
.main__column-color {
  /* margin-left: 149.74px; */
  /* flex: 0 1 50%; */
  max-width: 281.26px;
}
.main__column-font {
  margin-left: 10px;
  /* flex: 0 1 50%; */
  max-width: 427px;
}

.color-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.font-box {
  display: flex;
  /* justify-content: space-between; */
  margin-bottom: 52px;
}
.font-box__type {
}
.font-box__type_h3 {
  margin-left: 11px;
}
.font-box__type_body {
  margin-left: -9px;
  margin-top: -4px;
}
.font-box__description {
  /* max-width: 369px; */
  flex-basis: 369px;
  flex-grow: 0;
  flex-shrink: 1;
  /* font-size: 19px; */
  /* line-height: 27.79px; */
  /* vertical-align: middle; */
  margin-left: 29px;
  // color: rgba(31, 32, 65, 1);
  color: color.$dark_100;
}
.font-box__description_h2 { 
  padding-top: 1px;
  padding-left: 2px;
}

.font-box__description_h3 {
  /* margin: 1px 0 0 0; */
  text-transform: uppercase;
}
.font-box__description_body {
  margin-top: -5px;
  // color: rgba(31, 32, 65, 0.75);
  color: color.$dark_75;
  flex-basis: 310px;
}
.color-box__square {
  width: 70px;
  height: 70px;
  // background: rgba(31, 32, 65, 1);
  background: color.$dark_100;

  border-radius: 6px;
}

.font-box__type {
  // color: rgba(31, 32, 65, 0.25);
  color: color.$dark_25;
}
.color-box__square_75 {
  // background: rgba(31, 32, 65, 0.75);
  background: color.$dark_75;
}
.color-box__square_50 {
  // background: rgba(31, 32, 65, 0.5);
  background: color.$dark_50;
}
.color-box__square_25 {
  // background: rgba(31, 32, 65, 0.25);
  background: color.$dark_25;
}
.color-box__square_5 {
  // background: rgba(31, 32, 65, 0.05);
  background: color.$dark_5;
}
.color-box__purple {
  // background: rgba(188, 156, 255, 1);
  background: color.$primary;
}
.color-box__green {
  // background: rgba(111, 207, 151, 1);
  background: color.$secondary;
}

.color-box__description {
  /* width: 171px; */
  flex-basis: 171px;
  flex-grow: 0;
  flex-shrink: 1;
  font-size: 19px;
  line-height: 27.79px;
  /* vertical-align: middle; */
  margin-left: 39px;
  /* display: flex;
  justify-content: center; */
  padding: 9px 0 0 0;
}
