extends ../layout/ui-kit
include blocks/dropdown/dropdown
include blocks/rate-button/rate-button
block title
  |Form Elements

block style
  link(rel="stylesheet", href="./form-elements.scss")
block script
  script(src="./form-elements.js", type="module")
  //- script(src="./form-elements.js", type="text/javascript")
  //- script(src="../../node_modules/jquery/dist/jquery.min.js", type="text/javascript") 
block content
  .form-elements__box
    .form-elements__column
      .element-box 
        .element-box__caption
          .element-box__caption_left
            h3 Text Field
          .element-box__caption_right
            h3 Default
        .element-box__body 
          input.input-string(type="text",placeholder="Email")
      .element-box 
        .element-box__caption
          .element-box__caption_left
            h3 Text Field
          .element-box__caption_right
            h3 Hover / Focus
        .element-box__body 
          input.input-string(type="text",placeholder="This is pretty awesome")
      .element-box 
        .element-box__caption
          .element-box__caption_left
            h3 Dropdown
          .element-box__caption_right
            h3 
        .element-box__body 
          +dropdown
      .element-box 
        .element-box__caption
          .element-box__caption_left
            h3 masked text field
          .element-box__caption_right
            h3 
        .element-box__body 
          input.input-string(type="text",placeholder="ДД.ММ.ГГГГ",pattern="\d\d\.\d\d\.\d{4}")
      .two-elements-box
        .element-box-50
          .element-box__caption_left
            h3 date Dropdown
          .element-box__body
            .date-dropdown
              .date-dropdown__selection
                //- .datepicker-here
                input.date-dropdown__input(type="text",id="datepicker",placeholder="ДД.ММ.ГГГГ",pattern="\d\d\.\d\d\.\d{4}")
                p.icon-expand_more.date-dropdown__selection_arrow
        .element-box-50
          .element-box__caption_left
            h3 date Dropdown
          .element-box__body
            .date-dropdown
              .date-dropdown__selection
                input.date-dropdown__input(type="text",placeholder="ДД.ММ.ГГГГ",pattern="\d\d\.\d\d\.\d{4}",value="19-08-2019")
                p.icon-expand_more.date-dropdown__selection_arrow
      .element-box-266px
        .element-box__caption_left
          h3 filter date dropdown
        .element-box__body
          .date-dropdown
            .date-dropdown__selection
              input.date-dropdown-filter__input(type="text",value="19 авг - 23 авг")
              //- p 19 авг - 23 авг
              p.icon-expand_more.date-dropdown__selection_arrow
          //- input.input-string(type="text",placeholder="19 авг - 23 авг")
      .element-box-266px
        .element-box__caption_left
          h3 subscription text field
        .element-box__body
          input.input-string(type="emil",placeholder="Email",pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$")

      p.
        Русские буквы Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minus ducimus aut natus quod? Possimus repellat nesciunt consequatur eligendi iste soluta molestias harum, nulla nobis deleniti quibusdam, quisquam exercitationem aut odit.
    .form-elements__column
      .element-box 
        .element-box__caption_left
          h3 Checkbox Buttons
        .checkbox-list
          label.checkbox-label
            input.input-checkbox(type="checkbox")
            .checkbox-label-content Можно курить
          label.checkbox-label
            input.input-checkbox(type="checkbox" checked="")
            .checkbox-label-content Можно с питомцами
          label.checkbox-label
            input.input-checkbox(type="checkbox" checked="")
            .checkbox-label-content Можно пригласить гостей (до 10 человек)
      .element-box_width_200
        .element-box__caption_left
          h3 Radio Buttons
        .radio-list
          label.radio-label
            input.input-radio(type="radio" name="gender" checked="")
            .radio-label-content Мужчина
          label.radio-label
            input.input-radio(type="radio" name="gender")
            .radio-label-content Женщина
      .element-box 
        .element-box__caption_left
          h3 Toggle
        .toggle-list
          label.toggle-label
            input.input-toggle(type="checkbox" checked="")
            .toggle-label-content Получать спецпредложения
          label.toggle-label
            input.input-toggle(type="checkbox")
            .toggle-label-content Получать спецпредложения
      .element-box 
        .element-box__caption_left
          h3 like button
        .like-list
          label.like-label
            input.input-like(type="checkbox")
            .like-label-content 2
          label.like-label
            input.input-like(type="checkbox" checked="")
            .like-label-content 12
      .element-box 
        .element-box__caption_left
          h3 Rate button
        .rate-list
          +rate-button(5)
          +rate-button(4)

    .form-elements__column
      .element-box 
        .element-box__caption
          .element-box__caption_left
            h3 Range Slider
          .element-box__caption_right
            h3 
              span.range-result-left 5 000
              span ₽ - 
              span.range-result-right 10 000
              span ₽
      .element-box__body
        .range-slider
      p.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minus ducimus aut natus quod? Possimus repellat nesciunt consequatur eligendi iste soluta molestias harum, nulla nobis deleniti quibusdam, quisquam exercitationem aut odit.

  .form-elements__box
    .form-elements__column
    .form-elements__column
    .form-elements__column
  .form-elements__box
    .form-elements__column
    .form-elements__column
    .form-elements__column
  .form-elements__box
    .form-elements__column_2
    .form-elements__column_2



  h1 Title
  hr
