@import url("../layout/ui-kit.scss");
@import url("./blocks/input-string/input-string.scss");
@import url("item-quantity-dropdown/lib/item-quantity-dropdown.min.css");
.form-elements__box {
  margin-top: 143px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.form-elements__column {
  max-width: 320px;
}
.form-elements__column_2 {
}
.element-box {
  margin-bottom: 20px;
}
.element-box__caption {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
.element-box__caption_left {
  color: rgba(31, 32, 65, 1);
}
.element-box__caption_right {
  color: rgba(31, 32, 65, 0.5);
}
.element-box__body {
  display: flex;
}
