@use "../layout/ui-kit.scss";
@use "./blocks/input-string/input-string.scss";
@use "item-quantity-dropdown/lib/item-quantity-dropdown.min.css";
// @use './blocks/iqdropdown/iqdropdown';
@use './blocks/dropdown/dropdown';

.form-elements__box {
  margin-top: 143px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.form-elements__column {
  max-width: 320px;
}
.form-elements__column_2 {
}
.element-box {
  margin-bottom: 20px;
}
.element-box__caption {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
.element-box__caption_left {
  color: rgba(31, 32, 65, 1);
}
.element-box__caption_right {
  color: rgba(31, 32, 65, 0.5);
}
.element-box__body {
  display: flex;
}
