@use "../color.scss";
@use "../layout/ui-kit.scss";
@use "./blocks/input-string/input-string.scss";
// @use "item-quantity-dropdown/lib/item-quantity-dropdown.min.css";
// @use './blocks/iqdropdown/iqdropdown';
@use './blocks/dropdown/dropdown';
@use '../fonts/iconfont/iconfont.scss';
@use "air-datepicker/dist/css/datepicker.css";
@use "./blocks/datepicker/datepicker-toxin.scss";
// @use "./blocks/rate-button/rate-button.scss";
@use 'nouislider/dist/nouislider.css';
@use "./blocks/nouislider/nouislider" as toxin-nouislider;
$height: 44px;

.form-elements__box {
  margin-top: 143px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.form-elements__column {
  max-width: 320px;
}
.form-elements__column_2 {
}
.element-box {
  margin-bottom: 20px;
}
.element-box_width_266 {
  margin-bottom: 26px;
  max-width: 266px;
}
.element-box_width_200 {
  margin-bottom: 20px;
  max-width: 200px;
}
.element-box-266px {
  margin-top: 40px;
  width: 266px;
}

.two-elements-box {
  margin-top: 40px;
  flex-wrap: wrap;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.element-box-50 {
  // margin-bottom: 20px;
  // flex: 0 1 30;
  // flex-basis: 100px;
  width: 150px;
  // height: 44px;
  // display: block;
}
.element-box__caption {
  display: flex;
  justify-content: space-between;
  // margin-bottom: 5px;
}
.element-box__caption_left {
  color: color.$dark_100;
  margin-bottom: 5px;
}
.element-box__caption_right {
  color: color.$dark_50;
}
.element-box__slider-values {
  color: color.$dark_50;
  padding-right: 3px;
}
.element-box__body {
  height: $height;
  // display: flex;
}
.element-box__body_margin-bottom_40 {
  height: $height;
  margin-bottom: 40px;
  // display: flex;
}
.element-box__body_padding-top_18 {
  height: $height;
  padding-top: 18px;
  // display: flex;
}
.date-dropdown {
  // text-transform: uppercase;
  background: #ffffff;
  border: 1px solid color.$dark_25;
  border-radius: 4px;
  color: color.$dark_75;
  // flex: 0 1 320px;
  // display: block;
  // flex: 0 1 100%;
  width: 100%;
  // opacity: 0;
  // height: 44px;
  height: 100%;
  // padding-left: 13px;
}

.date-dropdown__selection {
  color: color.$dark_75;
  font-family: "Montserrat";
  cursor: pointer;
  align-items: center;
  height: 100%;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 0 15px;

  // flex: 1;
  position: relative;
}
.date-dropdown__selection_arrow {
  color: color.$dark_50;
  // padding-top: 1px;
  font-size: 13px;
}
.date-dropdown__input {
  color: color.$dark_75;
  max-width: 90px;
  display: inline;
}
.date-dropdown-filter__input {
  color: color.$dark_75;
  text-transform: lowercase;
}



// Checkbox

.checkbox-list {
  display: flex;
  flex-direction: column;
  padding-top: 11px;
}

.input-checkbox {
  -moz-appearance:none;
  -webkit-appearance:none;
  -o-appearance:none;
  border: 1px solid color.$dark_25;
box-sizing: border-box;
border-radius: 4px;
width: 20px;
height: 20px;
color: #fff;
position: relative;
// padding-top: 2px;
}
.input-checkbox:checked {
  border-color: color.$primary;
}

.checkbox-label {
  display: flex;
  align-items:flex-start;
  position: relative;
  margin-bottom: 11px;
}

.checkbox-label-content::before {
  // position: absolute;
  // color: #fff;
  // left: 5px;
  // top: 4px;
  // font-size: 10.5px;

  position: absolute;
  // color: #fff;
  left: 6px;
  top: 6px;
  width: 8px;
  height: 6px;
  border-bottom: 2px solid color.$primary;
  border-left: 2px solid color.$primary;
  border-color: #fff;
  border-image-slice: 1;
  // border-image-source: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  transform: rotate(-45deg);
  content: '';
  // font-size: 10.5px;
  display: inline;
  // border-radius: 50%;
  background-color: #fff;
}

.input-checkbox:checked + .checkbox-label-content::before {
  // background-color: color.$primary;
  border-color: color.$primary;
  border-image-slice: 1;
  border-image-source: linear-gradient(270deg, #BC9CFF 0%, #8BA4F9 100%);

  // Gradient
  // background: -webkit-gradient(linear, left top, left bottom, from(#BC9CFF), to(#8BA4F9));
  // background: -webkit-gradient(linear, right top, left bottom, from(#BC9CFF), to(#8BA4F9));

  // -webkit-background-clip: text;
  // -webkit-text-fill-color: transparent;
  // display: initial;
}

.checkbox-label-content {
  padding-left: 10px;
  color: color.$dark_50;
  max-width: 220px;
  line-height: 18px;
}

// Radio

.radio-list {
    display: flex;
    // flex-direction: row;
    padding-top: 11px;
    width: 100%;
    justify-content: space-between;
}
.input-radio {
  -moz-appearance:none;
  -webkit-appearance:none;
  -o-appearance:none;
  border: 1px solid color.$dark_25;
box-sizing: border-box;
border-radius: 50%;
width: 20px;
height: 20px;
color: #fff;
position: relative;
// padding-top: 2px;
}

.radio-label {
  display: flex;
  align-items:flex-start;
  position: relative;
  margin-bottom: 11px;
}
.radio-label-content {
  padding-left: 10px;
  padding-right: 20px;
  color: color.$dark_50;
  // max-width: 220px;
  line-height: 18px;
}
.radio-label-content::before {
  position: absolute;
  // color: #fff;
  left: 4px;
  top: 4px;
  // right: 3px;
  // bottom: 3px;
  width: 12px;
  height: 12px;
  content: '';
  // font-size: 10.5px;
  // display: inline;
  border-radius: 50%;
  background-color: #fff;
}
.input-radio:checked + .radio-label-content::before {
  // color: color.$primary;
  // Gradient
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
}
.input-radio:checked + .radio-label-content {
  color: color.$dark_75;
}

// Toggle

.toggle-list {
  padding-top: 11px;
  display: flex;
  flex-direction: column;
}

.input-toggle {
  -moz-appearance:none;
  -webkit-appearance:none;
  -o-appearance:none;
  border: 1px solid color.$dark_25;
box-sizing: border-box;
border-radius: 10px;
width: 40px;
height: 20px;
color: #fff;
position: relative;
// padding-top: 2px;
}
.input-toggle:checked {
  border-color: color.$primary;
}

.toggle-label {
  display: flex;
  align-items:flex-start;
  position: relative;
  margin-bottom: 14px;
}

.toggle-label-content::before {
  // position: absolute;
  // color: #fff;
  // left: 5px;
  // top: 4px;
  // font-size: 10.5px;

  position: absolute;
  // color: #fff;
  left: 4px;
  top: 4px;
  width: 12px;
  height: 12px;
  // border-image-slice: 1;
  // border-image-source: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  content: '';
  display: inline;
  border-radius: 50%;
  // background-color: color.$primary;
  background-color: color.$dark_25;
}

.input-toggle:checked + .toggle-label-content::before {
  // background-color: color.$primary;
  // border-color: color.$primary;
  // border-image-slice: 1;
  // background-color: linear-gradient(270deg, #BC9CFF 0%, #8BA4F9 100%);
  left: 24px;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  // Gradient
  // background: -webkit-gradient(linear, left top, left bottom, from(#BC9CFF), to(#8BA4F9));
  // background: -webkit-gradient(linear, right top, left bottom, from(#BC9CFF), to(#8BA4F9));

  // -webkit-background-clip: text;
  // -webkit-text-fill-color: transparent;
  // display: initial;
}

.toggle-label-content {
  padding-left: 10px;
  color: color.$dark_50;
  max-width: 220px;
  line-height: 18px;
}

// Like buttons

.like-list {
  display: flex;
  // flex-direction: row;
  padding-top: 11px;
  // width: 100%;
  // justify-content: space-between;
}

.input-like {
  -moz-appearance:none;
  -webkit-appearance:none;
  -o-appearance:none;
  border: 1px solid color.$dark_25;
box-sizing: border-box;
border-radius: 10px;
width: 40px;
height: 20px;
color: #fff;
margin-right: 10px;
}
.input-like:checked {
  border-color: color.$primary;
}

.like-label {
  display: flex;
  align-items:flex-start;
  position: relative;
  margin-bottom: 14px;
}

.like-label-content::before {
  position: absolute;
  left: -15px;
  top: 0px;
  // font-size: 10.5px;
  padding-right: 7px;
  padding-top: 0px;
  color: color.$dark_25;
  font-family: iconfont;
  font-size: 10.4px;
  line-height: 12px;
  content: '\e904';
  display: inline;
}

.input-like:checked + .like-label-content::before {
  font-family: iconfont;
  content: '\e903';
  // Gradient
  // background: -webkit-gradient(linear, right top, left bottom, from(#BC9CFF), to(#8BA4F9));

  background: -webkit-gradient(linear, left top, left bottom, from(#BC9CFF), to(#8BA4F9));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: initial;
}

.like-label-content {
  position: absolute;
  color: color.$dark_25;
  left: 20px;
  top: 4px;
  font-family: montserrat;
  font-size: 8px;
  line-height: 12px;
}
.input-like:checked + .like-label-content {
  color: color.$primary;
}

// Rate

.rate-list {
  display: flex;
  flex-direction: row;
  padding-top: 11px;
  width: 260px;
  justify-content: space-between;  
}

// Range slider

.range-slider {
  
}