extends ../layout/base

block title
  |Toxin
block main
  h1.icon-twitter Toxin
  a(href="./colors-and-type.pug") Colors & Type
  p.
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta, odit error dolorem reprehenderit minus eum neque in repellat debitis, delectus possimus quaerat molestias, nostrum ab obcaecati accusantium exercitationem fuga illum?

  .text-block
    p.
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta, odit error dolorem reprehenderit minus eum neque in repellat debitis, delectus possimus quaerat molestias, nostrum ab obcaecati accusantium exercitationem fuga illum?
  .text-block-bold
    p.
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta, odit error dolorem reprehenderit minus eum neque in repellat debitis, delectus possimus quaerat molestias, nostrum ab obcaecati accusantium exercitationem fuga illum?

  script(src='../index.js', type="text/javascript")
