extends ../layout/base

block title
  |Toxin

block main
  h1.icon-twitter Toxin
  ul
    each value,index in {"Colors & Type" : "colors-and-type","Cards" : "cards", "Headers & Footers" : "headers-and-footers", "Form Elements" : "form-elements"}
      li
        a(href= "./" +value+".pug")= index
  p.
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta, odit error dolorem reprehenderit minus eum neque in repellat debitis, delectus possimus quaerat molestias, nostrum ab obcaecati accusantium exercitationem fuga illum?

  .text-block
    p.
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta, odit error dolorem reprehenderit minus eum neque in repellat debitis, delectus possimus quaerat molestias, nostrum ab obcaecati accusantium exercitationem fuga illum?
  .text-block-bold
    p.
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta, odit error dolorem reprehenderit minus eum neque in repellat debitis, delectus possimus quaerat molestias, nostrum ab obcaecati accusantium exercitationem fuga illum?

