@use '../../../color';

$h: 44px;

.iqdropdown {
  align-items: center;
  border: 1px solid color.$dark_25;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  height: $h;
  justify-content: space-between;
  padding: 0 15px;
  position: relative;
  width: 100%;
}
.iqdropdown.menu-open {
  border-color: color.$dark_50;
}

.iqdropdown .iqdropdown-item-controls button {
  align-items: center;
  border: 1px solid color.$dark_25;
  display: flex;
  height: 30px;
  padding: 0 15px;
  margin: 5px;
  transition: all 0.2s ease-in-out;
  border-radius: 50%;
}
.iqdropdown .icon-decrement::after {
  background: #002674;
  content: "-";
  display: block;
  height: 3px;
  position: absolute;
  top: 6px;
  transition: -webkit-transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
  width: 15px;
}
.iqdropdown .icon-decrement.icon-increment::before {
  background: #002674;
  content: "+";
  display: block;
  height: 3px;
  position: absolute;
  top: 6px;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  transition: -webkit-transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
  width: 15px;
}
.iqdropdown .iqdropdown-menu {
  background-color: #ffffff;
  // box-shadow: 0 0 10px rgb(0 0 0 / 20%);
  cursor: default;
  display: none;
  left: 0;
  // margin: -2px -1px -1px;
  margin: 0;
  position: absolute;
  right: 0;
  top: $h;
  transition: all 0.2s ease-in-out;
  z-index: 99999;
}
.iqdropdown .iqdropdown-menu-option {
  align-items: center;
  display: flex;
  height: 37px;
  padding: 0 15px;
}
.iqdropdown .iqdropdown-selection {
  color: color.$dark_75;
  font-family: "Montserrat";
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  flex: 1;
  position: relative;
}
.iqdropdown-item {
  color: color.$dark_75;
  font-family: "Montserrat";
  // font-size: 17px;
  font-weight: 700;
  font-size: 12.4px;
  line-height: 14.63px;
  text-transform: uppercase;
}

.iqdropdown .iqdropdown-selection::after {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAMCAMAAABGBS09AAAAeFBMVEVMaXGVlZWRkZGRkZH///+UlJSRkZGQkJCRkZGZmZmRkZGRkZGSkpKRkZGVlZWQkJCdnZ2QkJCVlZWUlJSQkJCXl5eRkZGSkpKRkZGSkpKRkZGRkZGRkZGRkZGQkJCQkJCRkZGSkpKQkJCRkZGTk5OSkpKRkZGQkJAWlBl2AAAAJ3RSTlMAHcnXATdy+f4FzLJg5ySKDYgMJuYbSm61XtmUmcc1qkiq9fVHWVidqGmEAAAAhUlEQVR42o2O5w7CYAhF6e7XvfdwtN73f0OhatLUxnj+wMklAP2mHGpFX6h6KLn0QFcds6oDeq6rC6DJ91HeAHAf0k4jACdOPlESOwDG6WVmW7CFgblJELIULcubLJVh3SKydFmTZrQn8uXMdZYH/IiOXAxsGAudoOwbcLcVnaN5nkb/8gRapQtVGGewNQAAAABJRU5ErkJggg==);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  display: inline-block;
  height: 5px;
  width: 12px;
  position: absolute;
  right: 0;
  top: 40%;
}
