$dark_100: rgba(31, 32, 65, 1);
$dark_75: rgba(31, 32, 65, 0.75);
$dark_50: rgba(31, 32, 65, 0.5);
$dark_25: rgba(31, 32, 65, 0.25);
$dark_5: rgba(31, 32, 65, 0.05);
$primary: rgba(188, 156, 255, 1);
$secondary: rgba(111, 207, 151, 1);
