@import url("./zero.css");
@import url("./fonts/monsterrat.css");
@import url("./fonts/iconfont.css");
//Default font
$fontFamily: "montserrat";

$color_h1: tomato;
h1 {
  color: $color_h1;
}
.text-block {
  font-family: $fontFamily;
  font-weight: 400;
}
.text-block-bold {
  font-family: $fontFamily;
  font-weight: 700;
}
