@import url("./zero.css");
@import url("./fonts/montserrat/monsterrat.css");
@import url("./fonts/iconfont/iconfont.css");
//Default font
$fontFamily: "montserrat";

.main {
  font-family: $fontFamily;
}
.text-block {
  font-family: $fontFamily;
  font-weight: 400;
}
.text-block-bold {
  font-family: $fontFamily;
  font-weight: 700;
}
