@use "../zero.css";
@use "../fonts/iconfont/iconfont.scss";
@use "../fonts/type.scss";
@use "fonts/montserrat/montserrat.scss";

$fontFamily: "montserrat";

.main {
  font-family: $fontFamily;
}
.text-block {
  font-family: $fontFamily;
  font-weight: 400;
}
.text-block-bold {
  font-family: $fontFamily;
  font-weight: 700;
}
