doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title
      block title
    style
      block style
    block link
      link(rel="stylesheet", href="../zero.css")
      link(rel="stylesheet", href="../iconfont.css")
      link(rel="stylesheet", href="../index.scss")
  body
    block main
    script(src='../index.js', type="text/javascript")
