extends base
//- block style
//-   include ui-kit.css
append link
  link(rel="stylesheet", href="../layout/ui-kit.css")
block main
  img.watermark(src="../img/watermark.svg", alt="icon")
  block content
  script(src='../layout/ui-kit.js', type="text/javascript")
